.fond-bleu
    display: flex
    flex-direction: column
    color: #5e91c9
    background-color: #3676bb
    text-align: center
    height: 250px

.touch
    font-size: 30px
    margin-top: 50px
    margin-bottom: 30px

.social
    font-size: 30px

.fond-noir
    background-color: #363b47
    color: white
    height: 45px
    text-align: center
    
@media (min-width: 375px) and (max-width: 426px)
    .fond-bleu
        height: 270px


@media (min-width: 768px) and (max-width: 1024px)
    .fond-bleu,.fond-noir
        width: 150%
    
        


@media screen and (min-width: 1024px) and (max-width: 1440px)
    .fond-bleu,.fond-noir
        width: 103%



    

    
    




